@keyframes receipt {
    0% {
        transform: scale(0.01);
        //translate: -100%
    }
    100% {
        transform: scale(1);
        //translate: 0%
    }
}

.receipt-animation {
    animation-name: receipt;
    animation-duration: 3s;
    position: relative;
}